<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ear Buds</title>
    <style>body{background-color:black;}</style>
</head>
<body>
    <div class="image-container" style="width:100%;">
        <a href="./login">
            <img style="width:100%" src="../assets/404.gif" title="404 page not found" alt="Click me to get back home!">
        </a>
    </div>
    
</body>
</html>