${headPartial}

<!-- NOTE: -->
<!-- Page should reload for each match or, if grabbing a stack of users, at the end of the stack to allow update to DB -->

<body>
${navPartial}



<style>
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        }
</style>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Meet your match!</a>
    <a href="#">${displayedUser.name}</a>
    <div class="picture-frame">
        <img src="${displayedUser.picture}" alt="">
    </div>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
    <p></p>
</div>






<div class="container">
    <style>
        body {
            /* display: flex; */
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .aspect-ratio-box {
            height: 0;
            overflow: hidden;
            padding-top: 56.25% ;                        
            padding-top: 100%;              
            background: white;
            position: relative;
        }
        .aspect-ratio-box-inside img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
        }
        .aspect-ratio-box:hover img{
            opacity: .7;
            transform: scale(1.1);
        }
        .solid {
            opacity: 1;
        }

        h1 {
            width:80%;
            text-align: center;
            margin:auto;
        }
        .liquorcabinet {
            width : 100%;
            /* top :50px; */
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            display: grid;
            grid-template-columns: 50% 50%;
        }            
        /* picture frame */            
        .picture-frame {
                /* if you set this to a percentage, and drop the height line you loose the square */
            width:300px; 
            height:300px;
            float: left;
            margin: 10px;
            border: 2px solid cornflowerblue;            
            /* centering , but my object-fit below in the img tag with width=height is fixing this too.*/
            display: flex;
            justify-content: center;
            align-items:center;
        }            
        .picture-frame img {
            height: 100%;
            object-fit: cover;
        }
    </style>


    <h2 class="d-flex justify-content-center">
        ${displayedUser.name}
    </h2>


    <div class="row d-flex align-items-center justify-content-center ">
        <div class="col-sm-3">
                <form action="/match" method="POST" class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center btn-group">
                        <button style="width:15vw;" type="submit" name="buttonclicked" value="False" class="btn btn-light d-flex justify-content-center" >Skip</button>
                    </div>
                </form>
        </div>
        <div class="col-sm-6">
                <div class="liquorcabinet">
                        ${userArtists.map((Artist) =>  `
                            <div class="aspect-ratio-box text-white" id="${Artist.id}">
                                <div class="aspect-ratio-box-inside" style=" z-index:0;">
                                    <img  class="solid" src="https://icon2.kisspng.com/20180205/rhe/kisspng-video-sound-play-button-transparent-background-5a78ae776a8261.2982911315178584234363.jpg" alt="${Artist.artist_name}'s picture">
                                    <img src="${Artist.artist_picture}" alt="${Artist.artist_name}'s picture">
                                </div>
                                <div style="display: flex;justify-content:center;align-items: center;">
                                        <div class="play" style="
                                            width: 0;
                                            height: 0;
                                            z-index: 9999999999;
                                            border-top: 8px solid transparent;
                                            border-left: 12px solid #000;
                                            border-bottom: 8px solid transparent;">
                                        </div>
                                    </div>
                                <div class="card-img-overlay">
                                    <h5 class="card-title" style="text-shadow: 2px 2px #000000;">${Artist.artist_name}</h5>
                                </div>
                            </div>
                            <script>
                                artistID = document.getElementById('${Artist.id}');
                                artistID.addEventListener('click', (e)=>{
                                    console.log("You clicked on ${Artist.artist_name}!");
                                    console.log("${Artist.artist_track_url}");
                                    (typeof audioObject !== 'undefined')? audioObject.pause() : console.log('nothing playing'); ;
                                    audioObject = new Audio("${Artist.artist_track_url}");
                                    audioObject.play();
                                })
                            </script>
                            `).join(' ')}
                        </div>
        </div>
        <div class="col-sm-3">
                <form action="/match" method="POST" class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center btn-group">
                        <button style="width:15vw;" type="submit" name="buttonclicked" value="True" class="btn btn-dark d-flex justify-content-center" >Connect</button>
                    </div>
                </form>
        </div>

    </div>
</div>



<script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

<script>
$(document.body).click( function(e) {
    console.log(e);
    (typeof audioObject !== 'undefined')?  audioObject.pause() : console.log('No music?'); ;
});

$(".liquorcabinet").click( function(e) {
    e.stopPropagation(); // this stops the event from bubbling up to the body
});
</script>

</body>
</html>