${headPartial}
<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
<body>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    ${navPartial}

  <style>
  .body1{
    padding-left: 0;
    padding-right: 0;
    margin-top: -3%;
    padding-top: -25%;
    transform: scale(0.9) !important;
  }
  .picture-frame {
    /* if you set this to a percentage, and drop the height line you loose the square */
    width:40px; 
    height:40px;
    float: left;
    /* margin: 10px; */
    /* border: 2px solid cornflowerblue; */
    /* centering , but my object-fit below in the img tag with width=height is fixing this too.*/
    /* display: flex; */
    justify-content: center;
    align-items:center;
  }            
  .picture-frame img {
    height: 100%;
    object-fit: cover;
  }
  .blocked:hover {
    opacity: 1 !important;
    color: #B52D2A !important;
  }
  #frame .content :hover {
    /* background: green !important; */
    font-weight: 400 !important;
    /* color: purple !important; */
    color: #32465a !important;
    text-decoration: none !important;
  }
  #frame .content .messages ul li.replies p:hover {
  color: #f5f5f5 !important;
  }
  </style>
  <div class="body1">
  <div id="frame">
    <div id="sidepanel" style="background-image: linear-gradient(rgb(61,61,61), rgb(21,21,21))">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="${user.picture}" class="online" alt="" />
          <p>${user.name}</p>
        </div>
      </div>
      <div id="contacts">
        <ul>
            ${otherUsers.map((otherUser) =>  `

            <li class="contact" ${resquestedUser.id === otherUser.id ? `style="background: rgba(256, 256, 256, 0.1)"` :`style=""`}>
                  <a href="/messages/${otherUser.id}" onclick="clearStorage();" style="text-decoration: none; color: white;">
                  <div class="wrap">
                    <span class="contact-status ${timeStatusObject[otherUser.id]}"></span>
                    <div class="picture-frame">

                      <img src="${otherUser.picture}" alt="" />
                    </div>
                    <div class="meta">
                      <p style="display:inline-block; margin-top:3%; padding-left:3%" class="name">${otherUser.name}</p>
                      <p class="preview"></p>
                    </div>
                    </a>
                    <form action="/messages" method="POST">
                    <div style="position:absolute;right:0;top:25%;">

                      <input hidden name="blockUser" value="${otherUser.id}">
                      <button  type="submit" class="blocked" style="background: none;padding: 0px;border: none; opacity:0.5;">

                        <i class="fas fa-ban"></i>
                      </button>
                    </div>
                    </form>
                  </div>
                <!-- </a> -->
              </li>


            `).join(' ')}


        </ul>
      </div>
    </div>
    <div class="content" >
      <div class="contact-profile" >
        <div class="picture-frame" style= " height:40px; width:50px;">
          <img  src="${resquestedUser.picture}" alt="" />
        </div>
        <p style="position: relative; padding-left: 20px; ">${resquestedUser.name}</p>
      </div>
      <div class="messages">
        <ul>




          ${wholeConversation.map((message) =>  `

            <li class="${user.id === message.user_id? `replies`: `sent`}">
              <div class="picture-frame" style= "height:20px; width:20px; float:${user.id === message.user_id ? `right`: `left`} !important;">
                <img src="${user.id === message.user_id ? `${user.picture}`: `${resquestedUser.picture}`}" alt="" />
              </div>
              <p style="margin:5px">${message.message}</p>
            </li>
          
          `).join(' ')}

          



        </ul>
      </div>
      <!-- <form action="${ wholeConversation[0].user_id? `/messages/${wholeConversation[0].user_id}` : `/messages`  }" method="POST"> -->
        <div class="message-input">
          <div class="wrap">
            <form action="${ resquestedUser.id? `/messages/${resquestedUser.id}` : `/messages`  }" method="POST">
              <input type="search" hidden name="userMessage" id="userMessage" placeholder="BAD your message..." />
                <a id="refresh">
                  <i style="" class="fas fa-sync-alt attachment" aria-hidden="true"></i>
                </a>
              <input type="search" name="userMessage" id="mess" placeholder="Write your message...">
              <button type="submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
        <!-- </form> -->
    </div>
  </div>

  <script> // for the refresh button
  // console.log(window.location.pathname)

  window.onload = function() {
    var mess = localStorage.getItem("message");
    if (mess) {
      document.querySelector('#mess').value = mess
    } else {
      // console.log('nope didnt work')
    };
  // ...
  }

  function clearStorage() {
    localStorage.clear();
    // console.log('its running')
  }

  const refresh = document.getElementById('refresh')
  refresh.addEventListener('click', (e)=>{
    e.preventDefault();
    localStorage.setItem('message', $('#mess').val())
    location.reload();
  })
  </script>

<!-- <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script> -->
  <script >
    $(".messages").animate({ scrollTop: $(document).height() }, "fast");

    $("#profile-img").click(function() {
      $("#status-options").toggleClass("active");
    });

    $(".expand-button").click(function() {
      $("#profile").toggleClass("expanded");
      $("#contacts").toggleClass("expanded");
    });

    $("#status-options ul li").click(function() {
      $("#profile-img").removeClass();
      $("#status-online").removeClass("active");
      $("#status-away").removeClass("active");
      $("#status-busy").removeClass("active");
      $("#status-offline").removeClass("active");
      $(this).addClass("active");
      
      if($("#status-online").hasClass("active")) {
        $("#profile-img").addClass("online");
      } else if ($("#status-away").hasClass("active")) {
        $("#profile-img").addClass("away");
      } else if ($("#status-busy").hasClass("active")) {
        $("#profile-img").addClass("busy");
      } else if ($("#status-offline").hasClass("active")) {
        $("#profile-img").addClass("offline");
      } else {
        $("#profile-img").removeClass();
      };
      
      $("#status-options").removeClass("active");
    });

    function newMessage() {
      message = $(".message-input input").val();
      if($.trim(message) == '') {
        return false;
      }
      $('<li class="sent"><img src="" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
      $('.message-input input').val(null);
      $('.contact.active .preview').html('<span>You: </span>' + message);
      $(".messages").animate({ scrollTop: $(document).height() }, "fast");
    };

    $('.submit').click(function() {
      newMessage();
      localStorage.clear();
    });

    $(window).on('keydown', function(e) {
      if (e.which == 13) {
        newMessage();
        localStorage.clear();
        // return false;
      }
    });
    //# sourceURL=pen.js
  </script>
  </div>
</body>
</html>