<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: #121212 !important; width:100%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="font-family: 'Montserrat', sans-serif; margin:5px;">
            <a style="color: aliceblue; font-weight: 60; margin:15px;" href="/profile">PROFILE</a>
            <a style="color: aliceblue; font-weight: 600; margin:15px;" href="/match">MATCH</a>
            <a style="color: aliceblue; font-weight: 600; margin:15px;" href="/messages">MESSAGES</a>
            <a style="color: aliceblue; font-weight: 600; margin:15px;" href="/logout">LOGOUT</a>
    </div>
</nav>
<style>
.square {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
        }
</style>
