<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: #121212 !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a style="color: aliceblue; font-weight: 600" href="/profile">PROFILE</a>
            <a style="color: aliceblue; font-weight: 600" href="/match">MATCH</a>
            <a style="color: aliceblue; font-weight: 600" href="/messages">MESSAGES</a>
            <a style="color: aliceblue; font-weight: 600" href="/logout">LOGOUT</a>
    </div>
</nav>
