${headPartial}
<body>
${navPartial}



<!-- INFO BAR PARTS
Note: 
    You need to add id="main" to the first div on the page if it isn't there already
    as well as the script tag at the bottom of the page.-->
<style>
/* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        }
</style>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Confirm your favorite artists!</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
    <p></p>
</div>
<!-- / INFO BAR PARTS -->



<style>
        body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .aspect-ratio-box {
            height: 0;
            overflow: hidden;
            padding-top: 56.25% ;                        
            padding-top: 100%;              
            background: white;
            position: relative;
        }
        .aspect-ratio-box-inside img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .9;
        }
        .aspect-ratio-box:hover img{
            opacity: 1.0;
            transform: scale(1.1);
        }
        h1 {
            width:80%;
            text-align: center;
            margin:auto;
        }
        .liquorcabinet {
            width : 50%;
            top :50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            display: grid;
            grid-template-columns: 50% 50%;
        }            
        /* picture frame */            
        .picture-frame {
                /* if you set this to a percentage, and drop the height line you loose the square */
            width:300px; 
            height:300px;
            float: left;
            margin: 10px;
            border: 2px solid cornflowerblue;            
            /* centering , but my object-fit below in the img tag with width=height is fixing this too.*/
            display: flex;
            justify-content: center;
            align-items:center;
        }            
        .picture-frame img {
            height: 100%;
            object-fit: cover;
        }
</style>

    <div class="liquorcabinet" id="main">
        ${userArtists.map((Artist) =>  `
            <div class="aspect-ratio-box text-white">
                <div class="aspect-ratio-box-inside">
                    <img src="${Artist.artist_picture}" alt="Artists Picture">
                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title" style="text-shadow: 2px 2px #000000;">${Artist.artist_name}</h5>
                    <div ${hideMe? `hidden`: '' } > 
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-${Artist.id}" style="background: rgb(21,21,21); border:black;">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
            <form action="/profile" method="POST" style="grid-template-columns: 100%; display:contents">
                <div class="modal fade" id="modal-${Artist.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">${Artist.artist_name}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- this is where you query Spotify for a new artist -->
                                <p>Which artist would you like ${`${Artist.id}`?`to add?`:`instead?`}</p>
                                <input type="search" name="searchArtist" id="searchArtist" placeholder="Artist name">
                                <input type="hidden" name="deleteMe" value="${Artist.id}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" style="display: none;" data-dismiss="modal">Nope</button>
                                <!-- <button type="button" class="btn btn-primary">Yes!</button> -->
                                <button type="submit" class="btn btn-secondary">Save changes</button>
                                <!-- <a onClick="console.log('test'); return false;" class="btn btn-secondary">Save changes</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>            
        `).join(' ')}
    </div>

<script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
</body>
</html>