${headPartial}

<!-- FORM:  -->
<!-- Should not be able to submit form until 4 artists are filled out. -->
<!-- Should be able to remove artists from list. -->
<!-- Fourth artist should be left blank to encourage user engagement. -->

<body>
<p>Profile:
    Your user id is ${userSpotifyId}
    <br>
    hello, ${userName}
</p>
<img src="${userPhoto}" alt="Profile Pic">
<br>
<a href="./match">match</a>
<br>
<a href="./messages">messages</a>
<br>
<a href="./logout">logout</a>
<br>
<a href="./login">login</a>
<br>
<a href="./profile">profile</a>

<!-- The class="picture-frame" style situation stands as:-->
<!-- if there are 4 real artist objects, the overall container is square if the height is 225px. -->
<!-- if there is even 1 placeholder object, the overall container is not square unless height is 300px -->

<div class="d-flex justify-content-center" >
    <div class="card-group" style="min-width:200px; max-width: 600px" >
        ${userArtists.map((Artist) =>  `
            <div class="card bg-dark text-white d-flex" style="min-width: 50%; max-width: 50%;">
                <div class="picture-frame" style="width:100%;height: ${artistIncomplete ? `300px` : `225px`}">
                    <img src="${Artist.artist_picture}" class="card-img-top" alt="..." style="width:100%;height:100%;object-fit:cover;">
                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title" style="text-shadow: 2px 2px #000000;">${Artist.artist_name}</h5>
                    <!-- <p class="card-text" style="text-shadow: 1px 1px #000000;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
            </div>
        `).join(' ')}
    </div>
</div>




</body>
</html>