${headPartial}

<!-- FORM:  -->
<!-- Should not be able to submit form until 4 artists are filled out. -->
<!-- Should be able to remove artists from list. -->
<!-- Fourth artist should be left blank to encourage user engagement. -->

<body>
<p>Profile:
    Your user id is ${userId}
    <br>
    hello, ${userName}
</p>
<img src="${userPhoto}" alt="Profile Pic">
<br>
<a href="./match">match</a>
<br>
<a href="./messages">messages</a>
<br>
<a href="./logout">logout</a>
<br>
<a href="./login">login</a>
<br>
<a href="./profile">profile</a>

</body>
</html>